<!doctype html>
<html>
  <head>
    <title>{{ weather.city }} Weather</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='weather.css') }}">
  </head>
  <body>
    <div class="weather-container">
      <h1>{{ weather.city }} Weather</h1>
      <p id="weather-description">{{ weather.description }}</p>
      <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Weather icon">
      <p>Temperature:</p>
      <ul>
        <li>{{ weather.temperature.celsius }} &deg;C</li>
        <li>{{ weather.temperature.fahrenheit }} &deg;F</li>
        <li>{{ weather.temperature.kelvin }} K</li>
      </ul>
      <p>Humidity: {{ weather.humidity }}%</p>
      <p>Wind Speed: {{ weather.wind_speed }} m/s</p>
    </div>
    <form action="{{ url_for('home') }}">
      <button type="submit">Go back to home</button>
    </form>    
  </body>
  <script src="{{ url_for('static', filename='weather.js') }}"></script>
</html>
